<!DOCTYPE html>
<html>
  <head>
    <title>TheTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <nav id = "nav" class="navbar navbar-default" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to "Home", root_path, class: "navbar-brand" %>
        </div>
        <div class="float-right" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/tweets"><span class="glyphicon glyphicon-flash"></span> Moments</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-bell"></span> Notifications</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-bell"></span> Messages</a></li>

          </ul>
          </div>

       <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
           

          </form>
          <ul class="nav navbar-nav navbar-right pull-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style= "padding-bottom: 0px;">
                <% if current_user.avatar.blank? == false %>
                  <%= image_tag current_user.avatar.url, size:25, class: "user-pic-nav" %>
                <% end %> 


              <ul id = "text" class="dropdown-menu">
                <%= current_user.name %><br>
                @<%= current_user.username %> 
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>

            <li><%= link_to '<i class = "glyphicon glyphicon-comment"></i> Compose New Tweet'.html_safe, new_tweet_path %>
           </li>
        <% end %>
        </ul>
         </div>
       </div>
      </nav>
    <div class="container">

    <%= yield %>
    </div>


</body>
</html>
